# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://kbgeltokofonynkwmeth.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtiZ2VsdG9rb2Zvbnlua3dtZXRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDg1MTgwMDksImV4cCI6MjAyNDA5NDAwOX0.pr9BBKtwlo4ogjvuw8KnwhhaAUSrCrCA8-kY86ZzhIc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtiZ2VsdG9rb2Zvbnlua3dtZXRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwODUxODAwOSwiZXhwIjoyMDI0MDk0MDA5fQ.J34Ih5Rzj1RdtGddqPdE-YuvEBto6wbkbzOl4aVpNPQ

# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
